<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>所有成员</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/jumbotron.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 120px;
        }
        #shuoshuo .item{
            border: 1px solid #ccc;
            height: 150px;
        }
        #shuoshuo .item:hover {
            border: 2px solid #000;
        }
    </style>
</head>

<body>
<% include header.ejs %>

<div class="container">
    <div class="row">
        <h1>所有成员</h1>
    </div>
    <!-- Example row of columns -->
    <div class="container">
        <div class="row" id="shuoshuo">
            <%for(var i = 0 ; i < userAll.length ; i++){%>
            <div class="col-md-4 item">
                <h2><a href="/getuser/<%=userAll[i].username%>"> <img src="/avatar/<%=userAll[i].avatar%>" alt=""></a><%=userAll[i].username%></h2>
            </div>
            <%}%>
        </div>
    </div>
</div>
<hr>
<footer>
    <p>&copy; Company 2014</p>
</footer>
</div>
<!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
